@media only screen and (min-width: 650px) { 

    .courses {
        flex-direction: row;
        justify-content: center;
    }

    .learn_button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
    }

    .learn_button button {
        background-color: var(--qdeep-orange);
        color: var(--qdeep-white);
        font-family: 'Montserrat';
        font-size: 18pt;
        border: none;
        cursor: pointer;
        height: 40px;
        width: 150px;
        text-decoration: none;
    }

    .learn_button button:hover {
        background-color: var(--qdeep-bright-orange);
    }


    .logo img {
        height: 65px;
        margin-left: 15px;
    }

    /* -------------------------------------- */

    .learn_page {
        display: flex;
        flex: 1;
        flex-direction: row;
    }

    .sidebar {
        background-color: var(--qdeep-sidebar);
        width: 250px;
    }

    .content {
        flex: 1;
        background-color: var(--qdeep-background);
        font-size: 14pt;
        text-align: justify;
    }

    .logo_link {
        cursor: pointer;
    }

    .people {
        flex-direction: row;
        gap: 120px;
    }

    /* .history {
        flex-direction: column;
    } */
}