@media only screen and (max-width: 650px) {
    .logo img {
        height: 50px;
        margin-left: 25px;
    }

    .logo h1 {
        color: var(--qdeep-white);
        font-size: 40px;
        margin-left: 15px;
        margin-top: 40px;
    }

    .learn_button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
    }

    .learn_button button {
        background-color: var(--qdeep-orange);
        color: var(--qdeep-white);
        font-family: 'Montserrat';
        font-size: 14pt;
        border: none;
        cursor: pointer;
        height: 30px;
        width: 100px;
        text-decoration: none;
    }

    .learn_button button:hover {
        background-color: var(--qdeep-bright-orange);
    }

    .courses {
        flex-direction: column;
    }

    .people {
        flex-direction: column;
    }

    .history {
        flex-direction: column;
        align-items: center;
    }

    .content {
        font-size: 12pt;
        text-align: left;
    }

    .history img {
        max-height: 200px;
        width: auto;
    }
}